h1{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px 5px black;
  color:white;
}
body{
background: #47bcff;
height: 100%;
}
.container{
  margin:0px;
  padding:0px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainInterface{
  width: 500px;
  border: 6px solid black;
  padding: 50px;
  margin: 20px;
  border-radius: 20%;
  background: #bfdeff;
  box-shadow: 10px 10px 5px;
}
.flex{
  display: flex;
}
.togglebutton{
  padding-left: 15px;
}
.textInfo{
  display: flex;
  align-items:flex-end;
  justify-content: start;
}
span{
  padding-left:10px; 
  font-size: 24px;

}
.tempDegree{
  justify-content: space-around;
  align-items:center;
}
.textFont{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
 -webkit-box-reflect: below .5px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
}

.textFonts{
font-family: 'Roboto Condensed', sans-serif;
font-size: 80px;
text-shadow: 2px 2px 5px #555;
color:white;
}

img{
width:150px;

}

  
/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
}
